<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangshenglong.buycarapp">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- banner权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.second.SecondBannerAty" />
        <activity android:name=".home.second.zhengbei.HostlingAty" />
        <activity android:name=".home.second.baoyang.UpkeepAty" />
        <activity android:name=".home.second.cheliang.CarAty" />
        <activity android:name=".home.second.fabu.IssueAty" />
        <activity android:name=".home.second.haoche.MotorAty" />
        <activity android:name=".home.second.hetong.ContractAty" />
        <activity android:name=".home.second.jingzhun.AccurateAty" />
        <activity android:name=".home.second.peizi.ConfigurationAty" />
        <activity android:name=".home.second.shangjia.MerchantPosAty" />
        <activity android:name=".home.second.wode.MyWdAty" />
        <activity android:name=".home.second.wutong.UtonAty"></activity>
    </application>

</manifest>